.row.console.no-margin
    .col-md-push-2.col-md-8.console-window.no-padding
        .console-window-menu
            &nbsp
            MohammadRezai---Bash---x86
        .console-window-body
            .console-command
                &nbsp; &gt; Mo.origin
                %br
            .console-answer
                &nbsp;&nbsp;&nbsp; =&gt; "Adelaide, Australia"
                
            .console-command
                &nbsp; &gt; Mo.education
                %br
            .console-answer
                &nbsp;&nbsp;&nbsp; =&gt; "University of Adelaide, SA"

            .console-command
                &nbsp; &gt; Mo.major
                %br
            .console-answer
                &nbsp;&nbsp;&nbsp; =&gt; "Software Engineering"
                
            .console-command
                &nbsp; &gt; Mo.graduation
                %br
            .console-answer
                &nbsp;&nbsp;&nbsp; =&gt; "December 2018"
                
            .console-command
                &nbsp; &gt; Mo.resume
                %br
            .console-answer
                &nbsp;&nbsp;&nbsp; =&gt;
                = link_to "resume.pdf", pdfjs.full_path(file: "/resume.pdf")
                
            .console-command
                &nbsp; &gt; Mo.email
                %br
            .console-answer
                &nbsp;&nbsp;&nbsp; =&gt;
                %a{:href => "mailto:hussy.rez@gmail.com"} hussy.rez@gmail.com