/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
@import "bootstrap-sprockets";
@import "bootstrap";

//hellow
.page-wrapper {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.min-padding {
    padding: 10px;
}

body {
    padding: 0;
}
//================Landing View=============
.landing-page {
    height: 100vh;
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
}
 
#landing-page {
    padding-top: 100px;
    margin: 0;
    height: 100%;
    width: 100%;
    background-color: #66a1ff;
    // opacity: 0.9;

}

.landing-avatar {
    text-align: center;
}

.landing-avatar img {
    height: 25vh;
    width: 25vh;
}

.landing-text {
    font-family: Copperplate, "Copperplate Gothic Light", fantasy;
    font-size: 12vh;
    color: white;
    text-align: center;
}

//================Landing View==============
//================Console View=============
.console {
    background: #66a1ff;
    width: 100%;
    margin: 0;
    padding: 10px;
    padding-top: 50px;
    padding-bottom: 50px;
    
}

.console .console-window {
    background: #4a5870;
    height: 100%;
    border-radius: 5px;
    overflow: hidden;
}

.console-window-menu {
    height: 20px;
    background: #f7f7f7;
    text-align: left;
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 10px;
}

.console-window-body {
    font-family: 'Monaco', 'Courier New';
    text-align: left;
    font-size: 13px;
    
}

.console-command{
    color: #f7f7f7;
}
    
.console-answer{
    color: #999999;
    margin-bottom: 20px;
}

.console-answer a {
    color: #3a92c8;
    text-decoration: none;
    background: none;

}
.console-answer > a:hover {
    text-decoration: underline;
}
//==============Console End===============

.no-padding {
    padding: 0;
}

.no-marging {
    margin: 0;
}

// @media (max-width: 600px) {
//     .terminal {
//         padding: 0;
//     }
// }

//===============navbar animation==============
.navbar, .navbar-custom, #landing-page {
    position: absolute;
}
.navbar {
    width: 100%;
    padding: 0;
    border: 0;
    overflow: hidden;
}

.navbar-container {
    width: 100%;
    z-index: 100;
    padding: 10px;
    
}

.navbar-custom {
    border: 0;
    height: 70px;
    z-index: 100;
    letter-spacing: 0.2em;
    text-align: center;
    padding: 0;
    margin: 0;
}

#navbar-no-mobile, #navbar-mobile {
    height: 100% !important;
    padding: 0;
    margin: 0;
}

.nav {
    height: 100%;
}

#navbar-no-mobile.nav a {
    font-size: 15 !important;

}

.nav > li > a:hover {
    border-bottom: 5px solid white;
}

.nav a {
    color: white !important;
    font-family: 'Proxima Nova Semibold', Helvetica, san-serif; 
    font-weight: bold;
    font-size: 20px;
    padding: 0;
    height: 100%;
}

// .navbar-custom.affix{
//     position: fixed;
//     top: 0;
//     width: 100%;
//     z-index: 1000;
// }

@media screen and (min-width: 769px) {
    .navbar-custom {
        background: 0 0;
    }
}

.navbar-fixed-top{
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #1a75ff;
}

.nav .navbar-menu {
    margin: 0 auto;
}

