/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

.page-wrapper {
    display: block;
    margin: 0;
    padding: 0;
}

.min-padding {
    padding: 10px;
}

body {
    padding-top: 0;
}
//================Landing View=============
.landing-page {
    height: 100vh;
    margin-bottom: 20px;
    background-color: #ffdb4c;

}
 
#landing-page {

}
//================Landing View==============
//================Console View=============
.console {
    background: #448bff;
    padding: 10px;
    padding-top: 50px;
    padding-bottom: 50px;
    
}

.console .console-window {
    background: #4a5870;
    height: 100%;
    border-radius: 5px;
    overflow: hidden;
}

.console-window-menu {
    height: 20px;
    background: #f7f7f7;
    text-align: left;
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 10px;
}

.console-window-body {
    font-family: 'Monaco', 'Courier New';
    text-align: left;
    font-size: 13px;
    
}

.console-command{
    color: #f7f7f7;
}
    
.console-answer{
    color: #999999;
    margin-bottom: 20px;
}

.console-answer a {
    color: #3a92c8;
    text-decoration: none;
    background: none;

}
.console-answer > a:hover {
    text-decoration: underline;
}
//==============Console End===============

.no-padding {
    padding: 0;
}

.no-marging {
    margin: 0;
}

// @media (max-width: 600px) {
//     .terminal {
//         padding: 0;
//     }
// }

//===============navbar animation==============

.navbar-custom {
    background: 0 0;
    border: 0;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 22px;
}

.nav > li > a:hover{
    background-color: white !important;
}

.nav a {
    color: black !important;
    font-size: 1.5em !important;
}